body {
    
    background-position:center;
    background-size:cover;
}

.hello_food {
    font-family: 'Dancing Script', cursive;  
}

#food {
    font-size: 300%;
}

#deals {
    font-size: 230%;
}

#section1 {
    background-image: url(pngtree-fast-food-light-yellow-hamburger-coke-chips-hot-coffee-tomato-sauce-picture-image_981064.jpg);
    height: 450px;
}

.table {
    font-size: 150%;
    font-weight: 700;
}

#section2 {
    background-image: url(pngtree-pizza-pac-man-background-picture-picture-image_1120801.jpg);
    height: 600px;
    text-align: center;
}

.pizza {
    font-size: 500%;
}

.red {
    color: darkred;
    font-size: 200%;
}

#bold {
    font-size: 180%;
}

#section3 {
  height: 650px;  
    background-image: url(stock-vector-pizza-on-yellow-backdrop-with-empty-space-for-text-pizza-illustration-pattern-on-background-2125647608.jpg);
    text-align: right;
}

#section4 {
    height: 1700px;
    background-image: url(OB62hf.webp);
    text-align: center;
}

#section5 {
    background-image: url(vegetables-5951982_960_720.webp);
    height: 600px;
    text-align: center;
}

#section6 {
    background-image: url(ice-cream-cones-with-copy-space_23-2148268194.webp);
    height: 600px;
    text-align: center;
}